.initial-form {
  min-height: 85.1vh;
  width: 30.85%;
  min-width: 396px;
  padding: 70px 15px;
}

.initial-form__logo {
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
}

.initial-form__title {
  margin-bottom: 40px;

  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.initial-form__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.register__list {
  margin-bottom: 134px;
}

.login__list {
  margin-bottom: 210px;
}

.initial-form__item {
  display: flex;
  flex-direction: column;
}

.initial-form__label {
  margin: 5px;

  color: rgb(139, 139, 139);
  font-size: 10px;
  line-height: 12px;
}

.initial-form__input {
  margin-bottom: 6px;
  padding-bottom: 10px;

  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 17px;

  background-color: transparent;

  border: none;
  border-bottom: 1px solid rgb(66, 66, 66);
}

.initial-form__input:focus {
  border-bottom: 1px solid rgba(66, 133, 244, 1);
}

.initial-form__input_state_error {
  color: rgba(238, 52, 101, 1);
}

.initial-form__error {
  margin-bottom: 6px;
  height: 24PX;

  color: rgba(238, 52, 101, 1);
  font-size: 10px;
  line-height: 12px;

  opacity: 1;
}

.initial-form__error_active {
  opacity: 1;
}

.initial-form__response-error {
  display: block;
  margin-bottom: 10px;
  height: 32px;

  color: rgba(238, 52, 101, 1);
  font-size: 14px;
  line-height: 18px;

  opacity: 1;
  text-align: center;
}

.initial-form__button {
  width: 100%;
  margin-bottom: 16px;
  height: 45px;

  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  background-color: rgba(66, 133, 244, 1);

  border: none;
  border-radius: 3px;
  transition: all 1s, linear, 0.6s;
}

.initial-form__button_disabled,
.initial-form__button_disabled:hover {
  color: rgb(194, 194, 194);
  background-color: rgb(248, 248, 248);
  pointer-events: none;
}

.initial-form__button:hover {
  opacity: 0.8;

  color: rgb(0, 0, 0);

  background-color: rgb(61, 220, 132);
  cursor: pointer;
}

.initial-form__text {
  margin: 0;
  padding: 0;

  color: rgb(139, 139, 139);
  font-size: 14px;
  line-height: 17px;

  text-align: center;
}

.initial-form__link {
  color: rgba(66, 133, 244, 1);

  text-decoration: none;
  transition: all 1s, linear, 0.6s;
}

.initial-form__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 455px) {
  .initial-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 81.5%;
    padding-top: 56px;
    padding-bottom: 30px;
  }

  .initial-form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .initial-form__button,
  .initial-form__text,
  .initial-form__link {
    font-size: 12px;
  }
}
