.navigation {
  display: flex;
  align-items: center;
}

.navigation__list-auth {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__item {
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.navigation__item:last-child {
  margin-right: 50px;
}

.navigation__link_reg {
  margin-right: -50px;
}

.navigation__link {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(255, 255, 255);

  text-decoration: none;
  transition: opacity 1.5s, linear, 0.6s;
}

.navigation__link:nth-child(even) {
  margin-left: 20px;
  margin-right: 20px;
}

.navigation__link:hover {
  opacity: 0.4;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .navigation__container {
    display: none;
  }
}
