.checkbox__input {
  display: none;
}

.checkbox__label {
  position: relative;

  display: block;
  margin: 0 auto;
  padding-left: 48px;
  width: 120px;

  font-size: 12px;
  line-height: 18px;
}

.checkbox__label::before,
.checkbox__label::after {
  content: "";

  position: absolute;
  left: 0;
}

.checkbox__label::before {
  width: 36px;
  height: 20px;

  background-color: rgb(66, 133, 244);

  border-radius: 20px;
  transition: all 1s, linear, 0.7s;
}

.checkbox__label::after {
  left: 6px;
  top: 6px;

  width: 8px;
  height: 8px;

  background-color: rgb(255, 255, 255);

  border-radius: 50%;
  transition: left 1s, linear, 0.4s;
}

.checkbox__input_active + .checkbox__label::before {
  background-color: rgb(61, 220, 132);
}

.checkbox__input_active + .checkbox__label::after {
  left: 22px;
}

.checkbox__label:hover::before {
  opacity: 0.6;
  cursor: pointer;
}
