.profile {
  max-width: 1280px;
  margin: 0 auto;
  padding: 110px 70px 101px;
}

.profile__flex-container {
  display: flex;
  justify-content: space-between;
  width: 89.06%;
  margin: 0 auto;
}

.profile__cell {
  max-width: 590px;
}

.profile__name {
  margin: 66px 0 18px;

  font-size: 50px;
  line-height: 58px;

  letter-spacing: -0.04em;
}

.profile__profession {
  margin-bottom: 26px;

  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

  letter-spacing: -0.04em;
}

.profile__text {
  margin-bottom: 99px;

  font-size: 14px;
  line-height: 22px;
}

.profile__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.profile__item:nth-child(even) {
  margin: 0 20px;
}

.profile__item:last-child {
  margin-right: 0;
}

.profile__link {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all 1s, linear, 0.7s;
}

.profile__link:hover {
  opacity: 0.4;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.profile__image {
  margin-top: 66px;
  width: 270px;
  height: 327px;

  border-radius: 10px;
}

@media screen and (max-width: 790px) {
  .profile {
    padding: 90px 0 91px;
  }

  .profile__cell {
    max-width: 53%;
  }

  .profile__name {
    margin-bottom: 16px;

    font-size: 40px;
    line-height: 40px;
  }

  .profile__profession {
    margin-bottom: 20px;

    font-size: 12px;
    line-height: 18px;
  }

  .profile__text {
    font-size: 12px;
    line-height: 18px;
  }

  .profile__image {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 670px) {
  .profile {
    padding: 70px 0 69px;
  }

  .profile__flex-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .profile__cell {
    max-width: 100%;
  }

  .profile__name {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 40px;
    line-height: 40px;
  }

  .profile__profession {
    margin-bottom: 20px;

    font-size: 12px;
    line-height: 18px;
  }

  .profile__text {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 18px;
  }

  .profile__image {
    margin-bottom: 40px;
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 500px) {
  .profile__name {
    margin-bottom: 16px;

    font-size: 30px;
    line-height: 36px;
  }

  .profile__profession {
    margin-bottom: 20px;

    font-size: 11px;
    line-height: 16px;
  }

  .profile__text {
    font-size: 11px;
    line-height: 16px;
  }
}
